{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="row">
  <div id="drop_zone" class="col-md-12">
    <h1 class="text-center">Drop files here</h1>
  </div>
</div>
<input id="url" type="hidden" value="hi">
<output id="list"></output>
<input type="file" id="files" name="files[]" multiple/>
<!--TODO-->
<script>

  if (window.File && window.FileReader && window.FileList && window.Blob) {
	// Great success! All the File APIs are supported.
  } else {
	alert('The File APIs are not fully supported in this browser.');
  }
  $('#files').hide()

  function handleFileSelect(evt) {
	evt.stopPropagation();
	evt.preventDefault();

	var files = evt.dataTransfer.files; // FileList object.
	var file_list = []


	// files is a FileList of File objects. List some properties.
	var output = [];
	var formData = new FormData()
	for (var i = 0, f; f = files[i]; i++) {
	  output.push('<li><strong>', escape(f.name), '</strong></li>');
	}

	document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
	file_list = jQuery.makeArray(files)
    var form_data = {files: file_list}
    //post($("#url").val(), form_data)
  }

  function handleDragOver(evt) {
	evt.stopPropagation();
	evt.preventDefault();
	evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
  }

  function post(path, params, method) {
    method = method || "post"; // Set method to post by default if not specified.

    // The rest of this code assumes you are not using a library.
    // It can be made less wordy if you use one.
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);
            form.appendChild(hiddenField);
         }
    }

    document.body.appendChild(form);
    form.submit();
  }

  // Setup the dnd listeners.
  var dropZone = document.getElementById('drop_zone');
  dropZone.addEventListener('dragover', handleDragOver, false);
  dropZone.addEventListener('drop', handleFileSelect, false);



</script>
{% endblock %}